<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <session-config>
    <tracking-mode>COOKIE</tracking-mode>
  </session-config>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
			/WEB-INF/classes/mdp_applicationContext.xml
		</param-value>
  </context-param>
  <context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>classpath:log4j.properties</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>captcha</servlet-name>
    <servlet-class>com.digitalchina.ldp.app.ums.servlet.CaptchaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>captcha</servlet-name>
    <url-pattern>/captcha</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mdp</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
  	<servlet-name>proxy</servlet-name>
  	<servlet-class>com.digitalchina.ldp.app.mdp.bean.ProxyServlet</servlet-class>
  	 <init-param>  
          <param-name>url</param-name>  
          <param-value>http://10.6.10.6:8081/login.jsp</param-value>  
        </init-param>  
  </servlet>
  <servlet-mapping>
  	<servlet-name>proxy</servlet-name>
  	<url-pattern>/proxy</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>shiroFilter</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    <init-param>
      <param-name>targetFilterLifecycle</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>shiroFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet-mapping>
    <servlet-name>mdp</servlet-name>
    <url-pattern>/mdp/*</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>500</error-code>
    <location>/error.jsp</location>
  </error-page>
  <welcome-file-list>
    <welcome-file>mdp/welcome/index.html</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>INDEX_URL</param-name>
    <param-value>mdp/welcome/index.html</param-value>
  </context-param>
  <context-param>
    <param-name>APP_TITLE</param-name>
    <param-value>信息资产管理-后台应用V3.0</param-value>
  </context-param>
  <context-param>
    <param-name>webAppRootKey</param-name>
    <param-value>project</param-value>
  </context-param>
  
   <!-- 拦截器   lisence是否过期验证 -->
  <filter>
    <filter-name>LicenseFilter</filter-name>
    <filter-class>com.digitalchina.ldp.app.license.filter.LicenseFilter</filter-class>
    <init-param>  
        
		<param-name>excludedPages</param-name>    
		<param-value>generateServerInfoFile.json,/license.html,.css,.js,.woff,.eot,.svg,.tff,.woff2,.otf,.gif,.jpg,.png</param-value>         
	</init-param>  
  </filter>
  <filter-mapping>
    <filter-name>LicenseFilter</filter-name>   
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
 
  <servlet>
  	<servlet-name>webapp</servlet-name>
  	<servlet-class>com.digitalchina.ldp.app.webapp.servlet.WebAppServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>webapp</servlet-name>
  	<url-pattern>/app/*</url-pattern>
  </servlet-mapping>
  <filter>
		<filter-name>GZIPFilter</filter-name>
		<filter-class>com.tacitknowledge.filters.gzipfilter.GZIPFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>GZIPFilter</filter-name>
		<url-pattern>*.js</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>GZIPFilter</filter-name>
		<url-pattern>*.css</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>GZIPFilter</filter-name>
		<url-pattern>*.gif</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>GZIPFilter</filter-name>
		<url-pattern>*.jpg</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>GZIPFilter</filter-name>
		<url-pattern>*.png</url-pattern>
	</filter-mapping>
	 <context-param>
  	<param-name>developmentMode</param-name>
  	<param-value>true</param-value>
  </context-param>
</web-app>