@CHARSET "UTF-8";
.icon{
    display: inline-block;
	width: 16px;
    height: 16px;
}
.icon_dropdown_arrow {
    background-image: url(../images/dropdown_arrow.png);
    background-repeat: no-repeat;
    background-position: center;
    
}
.icon_dropdown_arrow_white {
    background-image: url(../images/dropdown_arrow_white.png);
    background-repeat: no-repeat;
    background-position: center;
    
}
.icon_16{
	display:inline-block;
	width:16px;
	height:16px;
}
.icon_24{
	display:inline-block;
	width:24px;
	height:24px;
}
.icon_eye{
	background: url(../../../../resources/images/eye.png) no-repeat;
}
.icon_download{
	background: url(../../../../resources/images/box_download.png) no-repeat;
}
.icon_detail{
	background: url(../../../../resources/images/detail.png) no-repeat;
	padding-left: 32px;
}
.icon_application{
	background: url(../../../../resources/images/application.png) no-repeat;
	padding-left: 20px;
}
.icon_basket
{
	background: url(../../../../resources/images/basket.png) no-repeat;
	padding-left: 20px;
}
.icon_application_white{
	background: url(../../../../resources/images/application_white.png) no-repeat;
}
.icon_basket_white
{
	background: url(../../../../resources/images/basket_white.png) no-repeat;
}
.icon_table{
	background: url(../../../../resources/images/table_grid.png) no-repeat;
}
.icon_group{
	background: url(../../../../resources/images/group.png) no-repeat;
}
.icon_theme{
	background: url(../../../../resources/images/theme.png) no-repeat;
}
.icon_link{
	background: url(../../../../resources/images/link.png) no-repeat;
}
.icon_rank{
	background: url(../../../../resources/images/rank.png) no-repeat;
}
.icon_time{
	background: url(../../../../resources/images/time.png) no-repeat;
}
.icon_copy{
	background: url(../../../../resources/images/icon_copy.png) no-repeat;
}
.icon_invoke{
	background: url(../../../../resources/images/invoke.png) no-repeat;
}
.icon_apply_count{
	background: url(../../../../resources/images/shenqing.png) no-repeat;
}


/* Icons
   ========================================================================== */
.ico {
    display: inline-block;
    _overflow: hidden;
    background-image: url(../../../../resources/images/sprite.png);
    _background-image: url(../../../../resources/images/sprite.gif);
    background-repeat: no-repeat;
    vertical-align: middle;
}

/* name rule:icon(i)-coordinate(x/y) */
.i000 {
    background-position: 0 0;
}

.i100 {
    background-position: -40px 0;
}

.i200 {
    background-position: -80px 0;
}

.i300 {
    background-position: -120px 0;
}

.i400 {
    background-position: -160px 0;
}

.i001 {
    background-position: 0 -40px;
}

.i101 {
    background-position: -40px -40px;
}

.i201 {
    background-position: -80px -40px;
}

.i301 {
    background-position: -120px -40px;
}

.i401 {
    background-position: -160px -40px;
}

.i002 {
    background-position: 0 -80px;
}

.i102 {
    background-position: -40px -80px;
}

.i202 {
    background-position: -80px -80px;
}

.i302 {
    background-position: -120px -80px;
}

.i402 {
    background-position: -160px -80px;
}

.i003 {
    background-position: 0 -120px;
}

.i103 {
    background-position: -40px -120px;
}

.i203 {
    background-position: -80px -120px;
}

.i303 {
    background-position: -120px -120px;
}

.i403 {
    background-position: -160px -120px;
}

.i004 {
    background-position: 0 -160px;
}

.i104 {
    background-position: -40px -160px;
}

.i204 {
    background-position: -80px -160px;
}

.i304 {
    background-position: -120px -160px;
}

.i404 {
    background-position: -160px -160px;
}

.i005 {
    background-position: 0 -200px;
}

.i105 {
    background-position: -40px -200px;
}

.i205 {
    background-position: -80px -200px;
}

.i305 {
    background-position: -120px -200px;
}

.i405 {
    background-position: -160px -200px;
}

.i006 {
    background-position: 0 -240px;
}

.i106 {
    background-position: -40px -240px;
}

.i206 {
    background-position: -80px -240px;
}

.i306 {
    background-position: -120px -240px;
}

.i406 {
    background-position: -160px -240px;
}

.i007 {
    background-position: 0 -280px;
}

.i107 {
    background-position: -40px -280px;
}

.i207 {
    background-position: -80px -280px;
}

.i307 {
    background-position: -120px -280px;
}

.i407 {
    background-position: -160px -280px;
}

.i008 {
    background-position: 0 -320px;
}

.i108 {
    background-position: -40px -320px;
}

.i208 {
    background-position: -80px -320px;
}

.i308 {
    background-position: -120px -320px;
}

.i408 {
    background-position: -160px -320px;
}

.i009 {
    background-position: 0 -360px;
}

.i109 {
    background-position: -40px -360px;
}

.i209 {
    background-position: -80px -360px;
}

.i309 {
    background-position: -120px -360px;
}

.i409 {
    background-position: -160px -360px;
}

.i010 {
    background-position: 0 -400px;
}

.i110 {
    background-position: -40px -400px;
}

.i210 {
    background-position: -80px -400px;
}

.i310 {
    background-position: -120px -400px;
}

.i410 {
    background-position: -160px -400px;
}

.i011 {
    background-position: 0 -440px;
}

.i111 {
    background-position: -40px -440px;
}

.i211 {
    background-position: -80px -440px;
}

.i311 {
    background-position: -120px -440px;
}

.i411 {
    background-position: -160px -440px;
}

.i012 {
    background-position: 0 -480px;
}

.i112 {
    background-position: -40px -480px;
}

.i212 {
    background-position: -80px -480px;
}

.i312 {
    background-position: -120px -480px;
}

.i412 {
    background-position: -160px -480px;
}

.i013 {
    background-position: 0 -520px;
}

.i113 {
    background-position: -40px -520px;
}

.i213 {
    background-position: -80px -520px;
}

.i313 {
    background-position: -120px -520px;
}

.i413 {
    background-position: -160px -520px;
}

.i014 {
    background-position: 0 -560px;
}

.i114 {
    background-position: -40px -560px;
}

.i314 {
    background-position: -120px -560px;
}

.i414 {
    background-position: -160px -560px;
}
