@CHARSET "UTF-8";
html,body{
    clear: both;
    font: 14px/1.5 'Microsoft Yahei';
    color: #4a4a4a;
    background-color: #f1f8ff !important;
    -ms-overflow-style:scrollbar;
    /* height:100%; */
}
body{
    min-width: 1200px;
    padding-top: 0px !important;
}
ul li{
	float: left;
}
.head {
    margin: 0 32px;
    background: transparent;
    position: fixed;
    top: 0;
    width: calc(100% - 32px * 2);
    z-index: 999;
    border-bottom: 1px solid #d4d4d4;
}
.logo{
	float: left;
	background: url(../images/logo.svg) no-repeat;
	background-position: left center;
	background-size: 40px;
	font-size: 32px;
	line-height: 45px;
	height: 45px;
	letter-spacing: 0;
	margin: 26px 0;
	padding-left: 50px;
	transition: all .5s;
}
.head_right {
    margin-top: 30px;
    float: right;
    transition: all .5s;
}
.head_right a {
    min-width: 60px;
    height: 36px;
    line-height: 36px;
    padding: 0 32px;
    border-radius: 4px;
    border: 1px solid #4a4a4a;
    display: inline-block;
    text-align: center;
    color: #4a4a4a;
    margin-left: 20px;
    font-size: 14px;
}
.head_right a:hover {
	text-decoration: none;
	background: #3B92FD;
	border: 1px solid #FFFFFF;
	color: #fff;
}
.top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}
.head .top {
    display: none;
    top: auto;
    left: auto;
    right: 40px;
    bottom: 40px;
    width: 74px;
    height: 124px;
    width: 30px;
    height: 50px;
    background: url(../../../../resources/images/arrow_back.png) no-repeat center, linear-gradient(-142deg, #F76B1C 0%, #F79560 100%);
    cursor: pointer;
    transform: rotate(90deg);
}
.head.max .top {
    display: block;
}

.basket {
    background: url(../images/shopcar.png) no-repeat center;
    position: relative;
    /* margin-right: 20px; */
}
.basket:hover {
    background-image: url(../../base/images/shopcar_white.png) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-color: #3b92fd !important;
}
.basket span {
    background: #3B92FD;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    position: absolute;
    padding: 0 8px;
    height: 15px;
    line-height: 12px;
    font-size: 12px;
    right: -8px;
    top: -8px;
    color: #fff;
}
.top_nav_menu {
    float: right;
    line-height: 36px;
    margin: 30px 20px  0 0;
    transition: all .5s;
}
.top_nav_menu a{
	color: #4a4a4a;
	font-size: 14px;
}
.top_nav_menu a:hover{
	text-decoration: none;
}
.top_nav_menu li{	
    padding: 0 12px 0 8px;
    border: 1px solid rgba(255, 255, 255, 0);
}
.top_nav_menu li.show_child_nav{
	position: relative;
    background: #FFF;
    border: 1px solid #D2D4D6;
    border-radius: 4px 4px 0 0;
    border-bottom: none;
}
.top_nav_menu li.show_child_nav:before{
	content: '';
	position: absolute;
	bottom: -1px;
	width: 100%;
	height: 10px;
	background: #fff;
	left: 0;
	z-index: 10;
}
.top_nav_menu li.show_child_nav a{
	color: #4a4a4a !important;
}
.top_nav_menu .icon_dropdown_arrow{
	float: right;
	height: 36px;
	margin-left: 4px;
	background-image: url(../images/dropdown_arrow.png);
}
.top_nav_menu .show_child_nav .icon_dropdown_arrow{
	background-image: url(../images/dropdown_arrow.png) !important;
}
.top_nav_menu .child_nav{
	display: none;
	position: absolute;
	width: 160px;
	background: #FFF;
	border: 1px solid #D2D4D6;
	border-radius: 0 4px 4px 4px;
	box-shadow: 0 5px 14px 0 rgba(0,0,0,0.17);
	left: -1px;
	padding: 8px 0;
}
.top_nav_menu li.show_child_nav  .child_nav{
	display: block;
}
.top_nav_menu .child_nav li {
    width: inherit;
    margin-right: 0;
    padding: 0 0 0 8px;
}
.top_nav_menu .child_nav li:hover a {
    color: #3B92FD !important;
}
.top_nav_menu .child_nav .dot{
	border: 1px solid #3B92FD;
    width: 6px;
    height: 6px;
    display: block;
    border-radius: 50%;
    float: right;
    margin: 15px 15px 0 0;
}
.top_nav_menu .child_nav li:hover .dot {
    background: #3B92FD;
}
.top_nav_menu .child_nav ul{
	position: absolute;
	top: -1px;
	left: 156px;
	width: 160px;
	background: #F5F7FA;
	min-height: calc(100% + 2px);
	border: 1px solid #D2D4D6;
	border-radius: 0 4px 4px 0;
	border-left: 0;
	box-shadow: 0 5px 14px 0 rgba(0,0,0,0.17);
	padding: 8px 0;
	display: none;
}
.top_nav_menu .child_nav ul:before{
	content: '';
	position: absolute;
    height: 100%;
    background: #fff;
    width: 10px;
    top: 0;
    left: -10px;
}
.top_nav_menu .child_nav li:hover ul {
    display: block;
}
.top_nav_menu .child_nav li:hover ul a{
    color: #4a4a4a !important;
}
.top_nav_menu .child_nav li:hover ul li:hover a{
    color: #3B92FD !important;
}

.top_nav_menu li[data-item="entity"] .child_nav{
	width: 196px;
}
.top_nav_menu li[data-item="entity"] .child_nav ul{
	left: 190px;
}
/* .top_nav_menu > ul > li:last-child .child_nav ul:before{
	height: 92px;
} */
.max.head{
	background: #FFFFFF;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10);
    margin: 0;
    padding: 0 32px;
    width: 100%;
    border: 0;
}
.max .logo{
	background-size: 24px;
	font-size: 17px;
	line-height: 24px;
	height: 24px;
	margin: 15px 0;
	letter-spacing: 0;
	padding-left: 34px;
	color: #4a4a4a;
}
.max .head_right,.max .top_nav_menu{
	margin-top: 8px;
	/* transition: all .5s; */
}

.btn_default{
	width: 228px;
    height: 46px;
    border: 2px solid #FFFFFF;
    border-radius: 50px;
    color: #fff !important;
    text-decoration: none !important;
    display: inline-block;
    text-align: center;
    line-height: 42px;
	
 }
.main_head{
	margin-top: 98px;
    height: 120px;
    line-height: 120px;
    font-size: 32px;
    color: #FFFFFF;
    letter-spacing: 0;
    background: url(../images/main_head@2x.png);
    background-size: cover;
}
.main_head .main_head_container{
	width:1200px;
	margin: 0 auto;
}
.main_head .head_search{
	width: 357px;
    height: 48px;
    margin-top: 36px;
    float: right;
    position: relative;
}
.main_head .head_search input{
	width: 100%;
	height: 100%;
	/* background-image: url(../images/search_bsvg.svg); */
	background-repeat: no-repeat;
	background-position: left 12px center;
	background-size: 24px;
	padding-left: 48px;
	/* opacity: .1; */
}
.main_head .head_search img{
	position: absolute;
    left: 0;
    top: 0;
    padding: 12px;
    opacity: .3;
}
.main_head .head_search input:focus {
	padding-left: 12px;
	padding-right: 48px;
    background-image: none;
}
.main_head .head_search input.show_hot_seach + img{
	left: inherit;
    right: 0;
    opacity: 1;
}
.main_head .head_search input.show_hot_seach  + img + .hot_search_box{
	display: inline-block;
}
.main_head .head_search .hot_search_box{
	position: absolute;
    background: #fff;
    color: #4a4a4a;
    font-size: 12px;
    line-height: 48px;
    padding: 0 12px;
    margin-top: 1px;
    display: none;
    width: 100%;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    z-index: 10;
}
.main_head .head_search .hot_search_box div{
	float: left;
	/* background: #fff; */
}
.main_head .head_search .hot_search_box ul{
	float: left;
	color: #30A38B;
	/* background: #FFE; */
	width: calc(100% - 60px);
}
.main_head .head_search .hot_search_box ul li{
	margin: 0 8px;
	cursor: pointer;
}


.main_page{
    width: 1200px;
    margin: 22px auto ;
    position: relative;
}

.filter_box .filter_category{
	position: absolute;
	width: 100%;
	text-align: center;
	z-index: 1;
}
.filter_box .filter_category span{
	padding: 0 15px;
	background: #f1f8ff;
	margin: -2px;
}
.filter_box .filter_category span i{	
	font-style: normal;	
	cursor: pointer;	
	opacity: 0.8;
	font-size: 14px;	
	color: #5C6C80;
}
.filter_box .filter_category span i.cur{	
	color: #008F6F;
}
.filter_box .filter_target{
	font-size: 14px;
	color: #7A889A;
	padding: 0 15px 0 27px;
	/* margin-bottom: 16px; */
	/* display: inline-block; */
	/* position: relative; */
	height: 21px;
}
.filter_box .filter_target:before{
	content: '';
	width: 12px;
	position: absolute;
	border-bottom: 1px solid;
	left: 0;
	top: 10px;
}
.filter_box .filter_target:after{
	content: '';
	width: calc(100% - 47px - 15px - 2em);
	position: absolute;
	border-bottom: 1px solid;
	right: 0;
	top: 10px;
}
.filter_box .filter_target span{
	background-image: url(../images/filter.svg);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 20px;
	cursor: pointer;
	z-index: 2;
	position: absolute;
}
.filter_box .filter_target.filtered span{
    background-image: url(../images/filtered.svg);
    color: #30A38B;
}
.filter_box .filter_content{
	background: #FFFFFF;
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.10);
	padding: 12px 84px 12px 20px;
	font-size: 12px;
	display: inline-block;
	width: 100%;
	position: relative;
	margin-top: 16px;
}
.filter_box .filter_content .filter_content_close{
	background-image: url(../images/arrow_cycle.svg);
    background-repeat: no-repeat;
    background-position: left center;
    font-size: 14px;
    color: #5C6C80;
    padding-left: 24px;
    position: absolute;
    right: 16px;
    top: calc(50% - 21px / 2);
    cursor: pointer;
}
.filter_box .filter_content .filter_line{
	line-height:20px;
	/* margin-top: 10px; */
}
.filter_box .filter_content .filter_line .filter_name{
	font-size: 14px;
	float: left;
	margin-right: 12px;
}
.filter_box .filter_content .filter_line .filter_list {
    width: calc(100% - 56px - 16px);
    float: left;
}
.filter_box .filter_content .filter_line .filter_list span{
	border: 1px solid #30A38B;
	border-radius: 4px;
	display: inline-block;
	padding: 0 8px;
	margin: 0 4px 10px;
	cursor: pointer;
}
.filter_box .filter_content .filter_line .filter_list span.cur{
	background: #30A38B;
    border-radius: 4px;
    color: #fff;
}
.card_box{
	display: inline-block;
	position: relative;
	margin:0 -12px;
	width: calc(100% + 12px * 2);
}
.card{
    width: 282px;
    height: 277px;
    position: relative;
    /* cursor: pointer; */
    transition: all .5s ease-out;
    transform: translateY(50px);
    opacity: 0;
    margin: 16px 12px;
    float: left;
}
.card .img_box{
	display: inline-block;
	width: 100%;
	height: 209px;
	border: 1px solid rgba(0,0,0,0.10);
	position: relative;
	overflow: hidden;
	background: #fff;
	cursor: pointer;
}
.card .img_box img{
	width: 100%;
    height: 100%;
}
.card .img_box div{
	position: absolute;
    bottom: 0;
    width: 100%;
    height: 82px;
    line-height: 82px;
    padding-left: 56px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    background-image: url(../images/basket.svg);
    background-position: left calc(50% - 48px) center;
    background-repeat: no-repeat;
    transform: translateY(100%);
    transition: transform .5s;    
}
.card .img_box:hover div{
    transform: translateY(0);
}
.card .title{
    padding: 7px 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 16px;
    color: #5C6C80;
}
.card .title.api{
    background: url(../../../resources/images/api_icon.png) no-repeat top 20px center;
    padding-top: 140px;
}
.card .tag{
	padding: 0 12px;
}
.card .tag span{
	font-size: 12px;
    color: #5A5C5E;
    padding: 3px 14px;
    background: #E4E8EB;
    border-radius: 4px;
}
.card .tag div{
	float: right;
}
.card i{
    padding-left: 24px;
    color: #9FA3A7;
    letter-spacing: 0.8px;
    font-style: normal;
    line-height: 19px;
    font-size: 12px;
    margin-left: 20px;
    background-position: left center;
}
.card i:last-child{
}
.search_left {
    height: 34px;
}
.card .todo{
	/*display:none;*/
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 100px;
    text-align: center;
    color: #fff;
    z-index: 1;
    background: rgba(87,87,87,0.80);
    box-shadow: 0 3px 9px 0 rgba(67,67,67,0.50);
    border-radius: 3px;    
    opacity: 0;
    transition: opacity .5s;
}
.card .todo .splite{
	height: 1px;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 100px;
    transition: margin .5s;
}
.card .todo div{
	transition: transform .5s;
}
.card .todo div:first-child{
	transform: translate3d(0,-100%,0);
}
.card .todo div:last-child{
	transform: translate3d(0,100%,0);    
}
.card .todo a{
	font-size:12px;
   	cursor: pointer;
}
.card .todo div:first-child a{
	font-size:14px;
}
.card:hover .todo{
	opacity: 1;
}
.card:hover .todo div{
	transform: translate3d(0,0,0);
}
.card:hover .todo .splite{
	margin: 0 30px;
}
.white{
	color:#fff !important;
}
.hot_search{
    margin: 6px 0 0;
}
.hot_search span {
    float: left;
    margin-right: 30px;
    color: #F76D1F;
    cursor: pointer;
}
.hot_search div:first-child span{    
    color: #555555;
    cursor: default;
}
.login_user{
	display: inline-block;
    color: #4a4a4a;
}
.user_op_container{
	display: inline-block;
	position: relative;
	margin-left: -5px;
}
.user_op_target{
	/* background-image: url(../../../../resources/images/user.png);
    background-position: center;
    background-repeat: no-repeat;
    color: rgba(255, 255, 255, 0) !important; */
}
.user_op_container:hover .user_op_target{
    /* background: #3B92FD;
}
.max .user_op_container:hover .user_op_target{ */
	text-decoration: none;
    background: #3B92FD;
    border: 1px solid rgba(255,255,255,0) !important;
    color: #fff !important;
}
.user_op_container:hover .user_op_box{
	display: block;
}
.user_op_box{
    position: absolute;
    width: 120px;
    background: #fff;
    right: 0;
    margin: 0;
    overflow: hidden;
    display: none;
    border: 1px solid #D2D4D6;
    border-radius: 4px;
    box-shadow: 0 5px 14px 0 rgba(0,0,0,0.17);
}
.user_op_box li {
    width: 100%;
    padding: 0 16px;
    margin: 0;
    border-radius: 0;
    line-height: 37px;
}
.user_op_box li:hover {
    background: rgba(59, 146, 253, .3);
}
.user_op_box li:first-child {
    margin-top: 13px;
}
.user_op_box li:last-child {
    margin-bottom: 13px;
}
.user_op_box a {
    font-size: 14px;
    background-repeat: no-repeat;
    background-position: center left;
    border: 0 !important;
    letter-spacing: 0;
    color: #4a4a4a !important;
    line-height: 20px;
    height: auto;
    text-align: left;
    padding: 0 0 0 24px;
    margin-left: 0;
}
#edit-user-info-btn {
    background: url(../../../../resources/images/space.png) no-repeat left center;
    border: 0 !important;
    color: #4a4a4a !important;
}
#my-application{
	background: url(../../../../resources/images/order.png) no-repeat left center;
    border: 0 !important;
    color: #4a4a4a !important;
}
#edit-password-btn {
    background: url(../../../../resources/images/edit_pw.png) no-repeat left center;
    border: 0 !important;
    color: #4a4a4a !important;
}
#log-out-btn {
    background: url(../../../../resources/images/logout.png) no-repeat left 2px center;
    border: 0 !important;
    color: #4a4a4a !important;
}
.panel {
    position: static;
    top: auto;
    right: auto;
    bottom: auto;
    width: auto;
}
.form-group>label[class*="col-"] {
    padding-top: 4px;
    margin-bottom: 4px;
}
.no-padding-right {
    padding-right: 0 !important;
}
label, .lbl {
    vertical-align: middle;
}
label {
    font-weight: normal;
    font-size: 14px;
}
input[type="text"],input[type="password"],input[type="tel"],input[type="email"]{
	border-radius: 0 !important;
    color: #858585;
    background-color: #fff;
    border: 1px solid #d5d5d5;
    padding: 5px 4px;
    line-height: 1.2;
    font-size: 14px;
    font-family: inherit;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
}
input[readonly] {
    color: #939192;
    background: #f5f5f5 !important;
    cursor: default;
}
.search_input{
	border: 0  !important;
}
.panel-footer {
    padding: 10px 15px !important;
}

/* tree */
.tree {
	padding-left: 9px;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative
}

.tree:before {
	display: inline-block;
	content: "";
	position: absolute;
	top: -20px;
	bottom: 16px;
	left: 0;
	border: 1px dotted #67b2dd;
	border-width: 0 0 0 1px;
	z-index: 1
}

.tree .tree-folder {
	width: auto;
	min-height: 20px;
	cursor: pointer
}

.tree .tree-folder .tree-folder-header {
	position: relative;
	height: 20px;
	line-height: 20px
}

.tree .tree-folder .tree-folder-header:hover {
	background-color: #f0f7fc
}

.tree .tree-folder .tree-folder-header .tree-folder-name, .tree .tree-item .tree-item-name
	{
	display: inline;
	z-index: 2
}

.tree .tree-folder .tree-folder-header>[class*="icon-"]:first-child,
	.tree .tree-item>[class*="icon-"]:first-child {
	display: inline-block;
	position: relative;
	z-index: 2;
	top: -1px
}

.tree .tree-folder .tree-folder-header .tree-folder-name {
	margin-left: 2px
}

.tree .tree-folder .tree-folder-header>[class*="icon-"]:first-child {
	margin: -2px 0 0 -2px
}

.tree .tree-folder:last-child:after {
	display: inline-block;
	content: "";
	position: absolute;
	z-index: 1;
	top: 15px;
	bottom: 0;
	left: -15px;
	border-left: 1px solid #FFF
}

.tree .tree-folder .tree-folder-content {
	margin-left: 23px;
	position: relative
}

.tree .tree-folder .tree-folder-content:before {
	display: inline-block;
	content: "";
	position: absolute;
	z-index: 1;
	top: -14px;
	bottom: 16px;
	left: -14px;
	border: 1px dotted #67b2dd;
	border-width: 0 0 0 1px
}

.tree .tree-item {
	position: relative;
	height: 20px;
	line-height: 20px;
	cursor: pointer
}

.tree .tree-item:hover {
	background-color: #f0f7fc
}

.tree .tree-item .tree-item-name {
	margin-left: 3px
}

.tree .tree-item .tree-item-name>[class*="icon-"]:first-child {
	margin-right: 3px
}

.tree .tree-item>[class*="icon-"]:first-child {
	margin-top: -1px
}

.tree .tree-folder, .tree .tree-item {
	position: relative
}

.tree .tree-folder:before, .tree .tree-item:before {
	display: inline-block;
	content: "";
	position: absolute;
	top: 14px;
	left: -13px;
	width: 18px;
	height: 0;
	border-top: 1px dotted #67b2dd;
	z-index: 1
}

.tree .tree-selected {
	background-color: rgba(98, 168, 209, 0.1);
	color: #6398b0
}

.tree .tree-selected:hover {
	background-color: rgba(98, 168, 209, 0.1)
}

.tree .tree-item, .tree .tree-folder {
	border: 1px solid #FFF
}

.tree .tree-folder .tree-folder-header {
	border-radius: 0
}

.tree .tree-item, .tree .tree-folder .tree-folder-header {
	margin: 0;
	padding: 5px;
	color: #4d6878;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box
}

.tree .tree-selected>[class*="icon-"]:first-child {
	background-color: #f9a021;
	border-color: #f9a021;
	color: #FFF
}

.tree .icon-plus[class*="icon-"]:first-child, .tree .icon-minus[class*="icon-"]:first-child
	{
	border: 1px solid #DDD;
	vertical-align: middle;
	height: 11px;
	width: 11px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	text-align: center;
	border: 1px solid #8baebf;
	line-height: 10px;
	background-color: #FFF;
	position: relative;
	z-index: 1
}

.tree .icon-plus[class*="icon-"]:first-child:before {
	display: block;
	content: "+";
	font-family: "Open Sans";
	font-size: 16px;
	position: relative;
	z-index: 1
}

.tree .icon-minus[class*="icon-"]:first-child:before {
	content: "";
	display: block;
	width: 7px;
	height: 0;
	border-top: 1px solid #4d6878;
	position: absolute;
	top: 5px;
	left: 2px
}

.tree .tree-unselectable .tree-item>[class*="icon-"]:first-child {
	color: #5084a0;
	width: 13px;
	height: 13px;
	line-height: 13px;
	font-size: 10px;
	text-align: center;
	border-radius: 0;
	background-color: transparent;
	border: 0;
	box-shadow: none
}

.tree [class*="icon-"][class*="-down"] {
	transform: rotate(-45deg)
}

.tree .icon-spin {
	height: auto
}

.tree .tree-loading {
	margin-left: 36px
}

.tree img {
	display: inline;
	veritcal-align: middle
}

[class^="icon-"], [class*=" icon-"] {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
[class^="icon-"], [class*=" icon-"] {
    display: inline;
    width: auto;
    height: auto;
    line-height: normal;
    vertical-align: baseline;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    margin-top: 0;
}
.icon-ok {
    background-color: #f9a021;
    border-color: #f9a021;
    color: #FFF;
}
.tree_icon_chexkbox {
    color: rgba(249, 232, 206, 0);
    width: 13px;
    height: 13px;
    line-height: 13px;
    font-size: 11px;
    text-align: center;
    border-radius: 3px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background-color: #fafafa;
    border: 1px solid #CCC;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.tree_icon_chexkbox {
    color: rgba(249, 232, 206, 0);
}
.icon-ok:before {
    content: "\f00c";
}
[class^="icon-"]:before, [class*=" icon-"]:before {
    text-decoration: inherit;
    display: inline-block;
    speak: none;
}
.icon-remove:before {
    content: "\f00d";
}
[class*=" icon-"], [class^="icon-"] {
	display: inline-block;
	text-align: center
}

/* pager */
.paging{
	width: 100%;
    padding-bottom: 16px;
    display: inline-block;
}
.page_list .pagination_next_box,
.page_list ul,
.page_list .pagination_prev_box{
	float: right;
}
.page_list i{
	line-height: 17px;
    width: 17px;
    text-align: center;
    float:left;
    margin: 6px 0 0;
    cursor: pointer;
}
.page_list li{
	min-width: 17px;
    max-width: 28px;
    line-height: 17px;
    text-align: center;
    margin: 6px 3px 0;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 12px;
}
.page_list li:hover,
.page_size li:hover,
.page_size li.cur{
	color: #F76D1F;
}
.page_list li.cur{
	background: #F76D1F;
    border-radius: 4px;
    color:#fff;
        max-width: inherit;
    font-size: 14px;
}
.page_size{
	border: 1px solid #D9D9D9;
    border-radius: 4px;
    width: 82px;
    height: 22px;
    line-height: 22px;
    color: #4A4A4A;
    line-height: 18px;
    padding: 0 8px;
    margin: 3px 18px 0;
    float: right;
    position: relative;
}
.page_goto {
    float: right;
}
.page_size:hover{
    border-bottom-style: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.page_size ul{
	display: none;
    border: 1px solid #D9D9D9;
    position: absolute;
    width: 100%;
    left: -1px;
    padding: 0 8px;
    z-index: 23;
    background: #fff;
    line-height: 24px;
    margin-top: 2px;
    border-top-style: none;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 82px;
}
.page_size:hover ul{
	display:block;
}
.page_size li{
	cursor: pointer;
}
.page_goto .goto{
	width: 48px;
    text-align: left;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    padding: 0 13px;
    height: 22px;
    line-height:22px;
    margin: 0 8px;
    color: #666;
}

/* footer */
.foot {
    /* background: url(../images/alpha/darkgray1.png); */
    position: absolute;
    width: 100%;
    background-image: linear-gradient(-228deg, #1172D0 0%, #1D98D6 100%);
}
.footIn {
    padding: 8px 0;
    text-align: center;
}
.webWidth3 {
    width: 1000px;
    margin: 0 auto;
}
.noRel{
	padding: 100px;
	text-align: center;
	/* width: 1200px; */
}

.tips{
	position: fixed;
	top: 140px;
	left: calc(50% - 360px /2);
	width: 360px;
	height: 32px;
	line-height: 32px;
	background-position: left 10px center;
	background-repeat: no-repeat;
	padding-left: 36px;
	border-radius: 4px;
	color: rgba(0,0,0,0.65);
	    font-size: 12px;
}
.tips.success{
	background-image: url(../images/tips_successsvg.svg);
	background-color: #EBF8F2;
	border: 1px solid #A7E1C4;
	box-shadow: 0 2px 8px 0 rgba(0,0,0,0.20);
}
.tips.error{
	background-image: url(../images/tips_failsvg.svg);
	background-color: #FEF3EB;
	border: 1px solid #FCCCA7;
	box-shadow: 0 2px 8px 0 rgba(0,0,0,0.20);
}
.tips_close{
	position: absolute;
	top: 0;
	right: 5px;
	background-image: url(../images/tips_closesvg.svg);
	background-repeat: no-repeat;
	background-position: center;
	width: 30px;
	height: 100%;
	cursor: pointer;
}


/* Cart
   ========================================================================== */
.cart_col1, .cart_col3 {
    position: absolute;
    top: 0;
    /* z-index: 1; */
}

.cart_col1 {
    left: 0;
    width: 170px;
}

.cart_col3 {
    right: 0;
    width: 75px;
}

.cart_col2 {
    margin: 0 95px 0 170px;
}

/* è¡¨å¤´ */
.cart_head {
    /* margin-top: 10px; */
    line-height: 40px;
    font-size: 12px;
    color: #666;
    height: 58px;
    line-height: 58px;
    width: 100%;
    background: #F8F8F8;
    /* text-align: center; */
    font-size: 14px;
    color: #4A4A4A;
}

.cart_head .exam_check {
    left: 21px;
    font-weight: bold;
    line-height: 58px;
}

.cart_shop {
    margin-bottom: 15px;
}

/* åº—é“ºåç§° */
.cart_shopName {
    padding-left: 21px;
    line-height: 34px;
    font-size: 12px;
    color: #666;
}

.cart_shopIco {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    vertical-align: middle;
}

/* åº—é“ºåˆ—è¡¨*/
.cart_shopList {
    border-bottom: 1px #d7d7d7 solid;
    background: inherit;
}

.cart_shopList .exam_check {
    display: block;
    border-top: 1px #eaeaea solid;
    padding: 0;
    margin: 0 20px;
}

.cart_shopList .exam_checkbtn {
    top: 50%;
    left: 20px;
    margin-top: -7px;
}

.cart_shopList .cart_col1, .cart_shopList .cart_col2, .cart_shopList .cart_col3 {
    height: 114px;
}

.cart_shopList .c_on {
    background-color: #f0f8fc;
}

.cart_img {
    padding: 20px 0 20px 50px;
}

.cart_detail {
    padding: 20px 0;
}

.cart_name {
    line-height: 37px;
    font-size: 16px;
    color: #444;
}

.cart_del {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    font-size: 12px;
    color: #666;
}

.cart_delIco {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    vertical-align: middle;
}

.cart_del:hover,.cart_del:focus {
    color: #079ce3;
}

.cart_del:hover .cart_delIco {
    background-position: -80px -280px;
}

.cart_shopIco {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    vertical-align: middle;
}
/* å•é€‰/å¤šé€‰æŒ‰é’® */
.exam_check, .exam_radio {
    position: relative;
    *
    height: 20px;
    padding: 0px 0 0px 25px;
    cursor: pointer;
    line-height: 40px;
    font-size: 14px;
    color: #4a4a4a;
    margin: 0 20px;
}

.exam_check input,/* å°†åŽŸå§‹é€‰é¡¹æŒ‰é’®éšè— */
.exam_radio input {
    position: absolute;
    left: -99999px;
}

.exam_radiobtn,/* é»˜è®¤æœªé€‰ä¸­ï¼Œæ—¶é€‰é¡¹æŒ‰é’®æ ·å¼ */
.exam_checkbtn {
    position: absolute;
    top: 14px;
    left: 0;
    width: 14px;
    height: 14px;
    background: url(../../../../resources/images/form.png) no-repeat;
}

.exam_radiobtn {
    background-position: 0 0;
}

.exam_checkbtn {
    background-position: -20px 0;
}

.exam_radio:hover .exam_radiobtn {
    background-position: 0 -20px;
}

/* é¼ æ ‡æ»‘è¿‡æ—¶ï¼Œé€‰é¡¹æŒ‰é’®æ ·å¼ */
.exam_check:hover .exam_checkbtn {
    background-position: -20px -20px;
}

label.r_on .exam_radiobtn,/* é€‰ä¸­æ—¶ï¼Œé€‰é¡¹æŒ‰é’®æ ·å¼ */
label.r_on:hover .exam_radiobtn {
    background-position: 0 -40px;
}

label.c_on .exam_checkbtn, label.c_on:hover .exam_checkbtn {
    background-position: -20px -40px;
}

.exam_disabled {
    opacity: .5;
    cursor: default;
}

.exam_disabled:hover .exam_radiobtn {
    background-position: 0 0;
}

.exam_disabled:hover .exam_checkbtn {
    background-position: -20px 0;
}

/* æ–‡æœ¬åŒºåŸŸï¼šä½¿ç”¨ç™¾åº¦ç¼–è¾‘å™¨ï¼Œè¿™é‡Œåªç»™å‡ºäº†å¤–æ¡†çš„æ ·å¼ */
.exam_textarea_box {
    min-height: 140px;
    border: 1px #e0e0e0 solid;
    border-radius: 4px;
    background: #fbfbfb;
    line-height: 20px;
    color: #666;
}
.res_labs {
    padding-top: 5px;
}

.res_lab {
    display: inline-block;
    border-radius: 3px;
    padding: 0 4px;
    margin-right: 8px;
    line-height: 18px;
    background: #becad0;
    font-size: 12px;
    color: #fff;
}

.apply {
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin-bottom: 15px;
    padding: 0 21px;
    background: inherit;
    display: inline-block;
}
.apply .exam_check {
    /* margin-top: 10px; */
    margin-right: 30px;
}
.apply .exam_check, .apply .link1 {
    float: left;
}
.apply_submit {
    display: block;
    height: 50px;
    line-height: 50px;
    margin-top: 30px;
    padding: 0 40px;
    text-align: center;
    font-size: 16px;
    color: #fff !important;
    text-decoration: none !important;
    background: #4A90E2;
}

.apply_submit:hover {
    background: #1eb0f5;
}
.apply_num, .apply_submit {
    /* float: right; */
}
.apply_num span {
    margin: 0 10px;
    font-size: 20px;
    color: #f12929;
    /* vertical-align: middle; */
}
/**
 * link
 */
.link1 {
    font-size: 14px;
    color: #079ec3 !important;
}

.link1:hover {
    text-decoration: underline;
}
/* è¿›åº¦ */
.flow_box {
    padding: 24px 0 30px 0;
    border-bottom: 1px #eee solid;
    background: #fefefe;
}

.flow {
    width: 948px;
    margin: 0 auto;
}

.flow_top {
    padding-bottom: 4px;
}

.flow_li {
    float: left;
    width: 25%;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    color: #888;
}

.flow_bot {
    width: 731px;
    height: 20px;
    margin: 0 auto;
    background: url(../../../../resources/images/flow.png) no-repeat;
}

.flow1 {
    background-position: 0 0;
}

.flow2 {
    background-position: 0 -20px;
}

.flow3 {
    background-position: 0 -40px;
}

.flow4 {
    background-position: 0 -60px;
}

.flow5 {
    background-position: 0 -80px;
}

.flow6 {
    background-position: 0 -100px;
}

/*è‡ªå®šä¹‰*/
.cus_flow{
	height: 50px;
}
.cus_flow li{
	width:100%;
	position: relative;
}
.cus_flow .flow_num {
	position: absolute;
    top: 26px;
    width: 20px;
    height: 20px;
    line-height: 18px;
    background: #c5c2bc;
    border-radius: 50%;
    font-size: 12px;
    color: #fff;
    margin-left: calc(50% - 10px);
}
.cus_flow .flow_line {
    position: absolute;
    top: 35px;
    height: 2px;
    background: #E4E2DF;
    width: calc(100% - 38px);
    margin-left: calc(50% + 19px);
}
.cus_flow li:last-child .flow_line{
    display: none;
}
.cus_flow .flow_num i {
    display: none;
}
.cus_flow .green .flow_num {
    background: #00B465 !important;
}
.cus_flow .green .flow_num span {
    display: none;
}
.cus_flow .green .flow_num i {
    display: inline-block;
}
.cus_flow .green .flow_line {
    background: #00B465;
}
.cus_flow .red .flow_num{
	background: #ff0000 !important;
}
.cus_flow .red .flow_num i {
    display: inline-block;
}
.cus_flow .red .flow_num span {
    display: none;
}
.cus_flow .step .flow_num {
    background: #009DE2;
}
.flow_2 li{
	width:50%;
}
.flow_3 li{
	width:33%;
}
.flow_4 li{
	width:25%;
}
.flow_5 li{
	width:20%;
}
.flow_6 li{
	width:16%;
}
.flow_7 li{
	width:14%;
}
.flow_8 li{
	width:12.5%;
}
.flow_9 li{
	width:11%;
}
.flow_10 li{
	width:10%;
}
/**
 * title
 */
.mod_tit {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    color: #444;
}

.mod_tit i {
    width: 21px;
    height: 21px;
    margin-right: 10px;
}

.con_tit {
    padding: 20px 0;
    line-height: 36px;
    font-size: 18px;
    color: #000;
}

.con_tit_ico {
    display: inline-block;
    width: 4px;
    height: 18px;
    margin-right: 26px;
    background: #079ce3;
    vertical-align: middle;
}

.mid_tit, .page_tit {
    padding-top: 10px;
    line-height: 50px;
    border-bottom: 2px #ddd solid;
    font-weight: bold;
    font-size: 16px;
    color: #666;
}

.mid_tit {
    text-align: center;
}

.page_tit i {
    display: inline-block;
    width: 36px;
    height: 36px;
    margin-right: 10px;
}
/**
 * resource content
 */
.res_content {
    min-height: 665px;
    margin: 0 10px;
}

.res_con {
    padding: 0 30px 30px 30px;
    border-bottom: 1px #eee solid;
}

.res_con .col_wrapIn {
    margin-bottom: 0;
}
/**
 * resource selected
 */
.res_selected {
    margin: 0 60px 20px 60px;
}

/* å¤§ç±»æ ‡é¢˜ */
.res_selected_tit {
    position: relative;
    line-height: 36px;
    font-size: 14px;
    color: #999;
}

.res_selected_tit i {
    width: 36px;
    height: 36px;
    margin-right: 10px;
}

/* å†…å®¹æ¡†æž¶ */
.res_selected_con {
    padding: 10px 0 20px;
    border-bottom: 1px #ddd solid;
    background: url(../../../../resources/images/line.jpg) 17px 0 repeat-y;
}

.res_mod {
    position: relative;
    padding-left: 40px;
    margin: 10px 0;
}

.res_mod_dot {
    position: absolute;
    top: 14px;
    left: 12px;
    width: 12px;
    height: 12px;
    z-index: 1;
}

.res_mod_head {
    position: relative;
    padding: 0 370px 0 30px;
    background: #f3f5f7;
    *height: 40px;
    line-height: 40px;
    cursor: pointer;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.res_mod_head:hover {
    background: #e7edf3;
}

.res_mod_lab {
    display: none;
    position: absolute;
    top: 13px;
    left: 10px;
    width: 8px;
    height: 14px;
}

.res_mod_tit {
    width: 360px;
    font-size: 14px;
    font-weight: bold;
    color: #666;
}

.res_mod_radio {
    display: none;
    position: absolute;
    top: 0;
    left: 380px;
    font-size: 12px;
    color: #888;
}

/* åˆ é™¤æŒ‰é’® */
.res_mod_del {
    display: none;
    position: absolute;
    top: 0;
    right: 90px;
    font-size: 12px;
    color: #888;
}

.res_mod_del i {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.res_mod_head:hover .res_mod_del, .res_mod_head:hover .res_mod_radio {
    display: block;
}

.res_mod_del:hover {
    color: #079ce3;
}

.res_mod_del:hover i {
    background-position: -80px -280px;
}

.res_selected_tit .res_mod_del {
    display: block;
    top: 0px;
}

.res_mod_arr {
    position: absolute;
    top: 11px;
    right: 20px;
    width: 16px;
    height: 16px;
}

.res_mod_body {
    display: none;
    padding: 15px;
    border: 1px #ccc solid;
    border-top: none;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

/* å±žæ€§èµ„æºå­—æ®µ */
.res_field {
    position: relative;
    float: left;
    margin: 5px
}

.res_field_btn {
    display: block;
    padding: 0 10px;
    border: 1px #ddd solid;
    line-height: 32px;
    white-space: nowrap;
    font-size: 12px;
    color: #666;
}

.res_field_btn:hover {
    border-color: #ccc;
    background: #f9f9f9;
}

.res_field i {
    position: absolute;
    display: none;
    width: 17px;
    height: 17px;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: url(../../../../resources/images/form.png) -80px -37px no-repeat;
}

.res_field_sel .res_field_btn, .res_field_sel .res_field_btn:hover {
    border-color: #83cdf1;
    background: #f5fbfe;
    color: #079ce3;
}

.res_field_sel i {
    display: block;
}

/* å­—æ®µç­›é€‰-å•é€‰ */
.res_mod_radio .exam_check, .res_mod_radio .exam_radio {
    position: relative;
    *height: 20px;
    padding: 5px 0 5px 25px;
    cursor: pointer;
    line-height: 20px;
    font-size: 12px;
    color: #666;
}

.res_mod_radio .exam_check input,/* å°†åŽŸå§‹é€‰é¡¹æŒ‰é’®éšè— */
.res_mod_radio .exam_radio input {
    position: absolute;
    left: -99999px;
}

.res_mod_radio .exam_radiobtn,/* é»˜è®¤æœªé€‰ä¸­ï¼Œæ—¶é€‰é¡¹æŒ‰é’®æ ·å¼ */
.res_mod_radio .exam_checkbtn {
    position: absolute;
    top: 5px;
    left: 0;
    width: 14px;
    height: 14px;
    background: url(../../../../resources/images/form.png) no-repeat;
}

.res_mod_radio .exam_radiobtn {
    background-position: 0 0;
}

.res_mod_radio .exam_checkbtn {
    background-position: -20px 0;
}

.res_mod_radio .exam_radio:hover .exam_radiobtn {
    background-position: 0 -20px;
}

/* é¼ æ ‡æ»‘è¿‡æ—¶ï¼Œé€‰é¡¹æŒ‰é’®æ ·å¼ */
.res_mod_radio .exam_check:hover .exam_checkbtn {
    background-position: -20px -20px;
}

.res_mod_radio label.r_on .exam_radiobtn,/* é€‰ä¸­æ—¶ï¼Œé€‰é¡¹æŒ‰é’®æ ·å¼ */
.res_mod_radio label.r_on:hover .exam_radiobtn {
    background-position: 0 -40px;
}

.res_mod_radio label.c_on .exam_checkbtn, .res_mod_radio label.c_on:hover .exam_checkbtn {
    background-position: -20px -40px;
}

/* å±•å¼€ */
.res_collapse .res_mod_dot {
    background-position: -120px -240px;
}

.res_collapse .res_mod_head, .res_collapse .res_mod_body {
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,.05);
    -o-box-shadow: 0 1px 5px rgba(0,0,0,.05);
    -ms-box-shadow: 0 1px 5px rgba(0,0,0,.08);
    box-shadow: 0 1px 5px rgba(0,0,0,.05);
}

.res_collapse .res_mod_head {
    background: #079ce3;
}

.res_collapse .res_mod_lab, .res_collapse .res_mod_del, .res_collapse .res_mod_body, .res_collapse .res_mod_radio {
    display: block;
}

.res_collapse .res_mod_tit, .res_collapse .res_mod_del, .res_collapse .res_mod_info, .res_collapse .res_mod_info span, .res_collapse .exam_radio, .res_collapse .exam_check {
    color: #fff;
}

.res_collapse .res_mod_del i {
    background-position: -80px -240px;
}

.res_collapse .res_mod_arr {
    background-position: -40px -240px;
}

.res_collapse .exam_radiobtn {
    background-position: -40px 0;
}

.res_collapse .exam_radio:hover .exam_radiobtn {
    background-position: -40px -20px;
}

/* é¼ æ ‡æ»‘è¿‡æ—¶ï¼Œé€‰é¡¹æŒ‰é’®æ ·å¼ */
.res_collapse label.r_on .exam_radiobtn,/* é€‰ä¸­æ—¶ï¼Œé€‰é¡¹æŒ‰é’®æ ·å¼ */
.res_collapse label.r_on:hover .exam_radiobtn {
    background-position: -40px -40px;
}

.res_collapse .exam_checkbtn {
    background-position: -60px 0;
}

.res_collapse .exam_check:hover .exam_checkbtn {
    background-position: -60px -20px;
}

/* é¼ æ ‡æ»‘è¿‡æ—¶ï¼Œé€‰é¡¹æŒ‰é’®æ ·å¼ */
.res_collapse label.c_on .exam_checkbtn,/* é€‰ä¸­æ—¶ï¼Œé€‰é¡¹æŒ‰é’®æ ·å¼ */
.res_collapse label.c_on:hover .exam_checkbtn {
    background-position: -60px -40px;
}

.submit {
    display: inline-block;
    line-height: 40px;
    padding: 0 40px;
    border-radius: 4px;
    font-size: 14px;
    color: #fff;
}
.btn_blue {
    background: #079ce3;
    border-bottom: 1px #068dcd solid;
}
.box{
	background: #FFFFFF;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.10);
}
.search_sm_submit {
    width: 50px;
    height: 24px;
    margin-left: 5px;
    text-align: center;
    background: #079ce3;
    font-size: 12px;
    color: #fff;
}
/**
 * float menu
 */
.floatMenu {
    position: fixed;
    top: 50%;
    right: 0;
    margin-top: -110px;
    z-index: 999;
    min-width: 36px;
}

.floatMenu_li {
    margin-bottom: 1px;
    float: none;
}

.floatMenu_link {
    position: relative;
    display: block;
    height: 36px;
    line-height: 36px;
}

.floatMenu_link span {
    cursor: pointer;
}

.floatMenu_name {
    position: absolute;
    top: 0;
    right: -100px;
    z-index: 1;
    display: block;
    padding: 0 10px;
    border-right: 1px #39b0e9 solid;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background: #079ce3;
    font-size: 12px;
    color: #fff;
    white-space: nowrap;
}

.floatMenu_floor {
    position: relative;
    z-index: 0;
    display: inline-block;
    width: 36px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background: #333;
    text-align: center;
    font-size: 14px;
    color: #afafaf;
}

.floatMenu_link:hover {
    background: #079ce3;
}

.floatMenu_link:hover .floatMenu_name {
    right: 36px;
}

.floatMenu_link:hover .floatMenu_floor {
    background: #079ce3;
    color: #fff;
}
.webWidth1 {
    width: 1200px;
    margin: 0 auto;
}
.webWidth2 {
    width: 1220px;
    margin: 0 auto;
}
/**
 * subpage
 */
.main_left {
    float: left;
    width: 976px;
}

.main_right {
    float: right;
    width: 224px;
    margin-right: 10px;
}
/**
 * resource detail
 */
.res_detail {
    position: relative;
    margin-bottom: 20px;
    height: 224px;
}

.res_detail_img, .res_detail_img img {
    width: 282px;
    height: 224px;
}

.res_detail_img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.res_detail_body {
    padding: 20px 30px 30px 312px;
}

.res_detail_tit {
    line-height: 45px !important;
    font-size: 24px !important;
    color: #222;
}

.res_detail .res_info {
    line-height: 40px;
}

.res_detail_instro {
    max-height: 40px;
    overflow: hidden;
    margin: 5px 0 10px 0;
    line-height: 20px;
    font-size: 14px;
    color: #999;
}

.res_detail_btn {
    display: inline-block;
    padding: 0 20px;
    line-height: 40px;
    margin-left: 20px;
    border-radius: 4px;
    font-size: 14px;
    color: #fff;
}

.res_detail_btn i {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.res_detail2 {
    height: 198px;
}

.res_detail2 .res_detail_body {
    padding-left: 327px;
}
/**
 * resource content
 */
.res_content {
    min-height: 665px;
    margin: 0 10px;
}

.res_con {
    padding: 0 30px 30px 30px;
    border-bottom: 1px #eee solid;
}

.res_con .col_wrapIn {
    margin-bottom: 0;
}
/* table */
.tabl th {
    height: 54px;
    border-top: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    background: #f9f9f9;
    font-size: 15px;
    color: #444;
    text-align: center;
}

.tabl th p {
    border-right: 1px #ddd solid;
}

.tabl td {
    height: 45px;
    border-bottom: 1px #e0e0e0 solid;
    text-align: center;
    font-size: 14px;
    color: #666;
    padding: 0 3px;
}

.tabl_even td {
    background: #fdfdfd;
}

/* aip table */
.table_cus th {
    height: 40px;
    border: 1px #e9e9e9 solid;
    background: #f7f7f7;
    font-size: 14px;
    color: rgba(74, 74, 74, 0.8);
    padding: 0 12px;
}

.table_cus th p {
    border-right: 1px #ddd solid;
}

.table_cus td {
    height: 40px;
    text-align: left;
    vertical-align: top;
    font-size: 14px;
    color: rgba(74, 74, 74, 0.8);
    padding: 11px 12px;
    border: 1px #e9e9e9 solid;
    word-break: break-all;
}

.tabl_even td {
    background: #fdfdfd;
}

.prop_table *{
	margin:0;
}
.prop_table td{
	padding: 7px 0;
    text-align: left;
    vertical-align: top;
    font-size: 14px;
    word-break: break-all;
    font-weight: bold;
}
.prop_table td:first-child{
	font-weight: normal;
}
.theme_op_container{
	display: inline-block;
	position: relative;
	float: right;
	text-align: center;
}
.theme_op_target{
	margin-bottom: 10px;
	padding: 11px 0 0 0  !important;
}
.theme_op_container:hover .theme_op_target{
    /* background: #3B92FD;
}
.max .theme_op_container:hover .theme_op_target{ */
	text-decoration: none;
    background: #3B92FD;
    border: 1px solid rgba(255,255,255,0) !important;
    color: #fff !important;
}
.theme_op_container:hover .theme_op_box{
	display: block;
}
.theme_op_box{
    position: absolute;
    width: 80px;
    background: #fff;
    right: 0;
    margin: 0;
    overflow: hidden;
    display: none;
    border: 1px solid #D2D4D6;
    border-radius: 4px;
    box-shadow: 0 5px 14px 0 rgba(0,0,0,0.17);
}
.theme_op_box li {
    width: 100%;
    /* padding: 0 16px; */
    margin: 0;
    border-radius: 0;
    line-height: 37px;
}
.theme_op_box li:hover{
    background: rgba(59, 146, 253, .3);
}
.theme_op_box li.cur {
	background: rgba(235, 203, 128, .3) !important;
}
.theme_op_box li.cur a{
	color: rgba(74, 74, 74, 0.5) !important;
	cursor: not-allowed;
}
.theme_op_box li:first-child {
    margin-top: 13px;
}
.theme_op_box li:last-child {
    margin-bottom: 13px;
}
.theme_op_box a {
    font-size: 14px;
    border: 0 !important;
    letter-spacing: 0;
    color: #4a4a4a !important;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 0;
    margin: 0;
    background: rgba(255, 255, 255, 0) !important;
}