<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.4">
  <display-name>cms</display-name>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
			/WEB-INF/config/application-context.xml
			/WEB-INF/config/cache-context.xml
			/WEB-INF/config/captcha-context.xml
			/WEB-INF/config/jeecore-context.xml
			/WEB-INF/config/jeecms-context.xml
			
		</param-value>
  </context-param>
  <filter>
    <filter-name>processTime</filter-name>
    <filter-class>com.jeecms.common.web.ProcessTimeFilter</filter-class>
  </filter>
  <filter>
    <filter-name>encoding</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>cookieFilter</filter-name>
    <filter-class>com.jeecms.filter.CookieFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>cookieFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <!--在web.xml文件中的配置-->
  <!-- 防止SQL注入的过滤器 -->
  <filter>
    <filter-name>antiSqlInjection</filter-name>
    <filter-class>com.jeecms.filter.AntiSqlInjectionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>antiSqlInjection</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>osivFilter</filter-name>
    <filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>processTime</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>encoding</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>osivFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>processTime</filter-name>
    <url-pattern>*.jspx</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>encoding</filter-name>
    <url-pattern>*.jspx</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>osivFilter</filter-name>
    <url-pattern>*.jspx</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>processTime</filter-name>
    <url-pattern>*.jhtml</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>encoding</filter-name>
    <url-pattern>*.jhtml</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>osivFilter</filter-name>
    <url-pattern>*.jhtml</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>processTime</filter-name>
    <url-pattern>*.htm</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>encoding</filter-name>
    <url-pattern>*.htm</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>osivFilter</filter-name>
    <url-pattern>*.htm</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>processTime</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>encoding</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>osivFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>JeeCmsAdmin</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/config/jeecms-servlet-admin.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>JeeCmsFront</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/config/jeecms-servlet-front.xml</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>Jcaptcha</servlet-name>
    <servlet-class>com.jeecms.common.captcha.JcaptchaServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/config/jeecms-servlet-context.xml</param-value>
    </init-param>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppServlet</servlet-name>
    <url-pattern>/csdsc/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServListServlet</servlet-name>
    <servlet-class>com.jeecms.ajaxservlet.ServListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServListServlet</servlet-name>
    <url-pattern>/list/servlist.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServInfoServlet</servlet-name>
    <servlet-class>com.jeecms.ajaxservlet.ServInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServInfoServlet</servlet-name>
    <url-pattern>/list/servinfo.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NHservList</servlet-name>
    <servlet-class>com.jeecms.ajaxservlet.NewAndHotServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NHservList</servlet-name>
    <url-pattern>/list/NHserv.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Jcaptcha</servlet-name>
    <url-pattern>/captcha.svl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DbFile</servlet-name>
    <servlet-class>com.jeecms.core.action.front.DbFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JeeCmsAdmin</servlet-name>
    <url-pattern>/jeeadmin/jeecms/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JeeCmsFront</servlet-name>
    <url-pattern>*.jhtml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JeeCmsFront</servlet-name>
    <url-pattern>*.jspx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DbFile</servlet-name>
    <url-pattern>/dbfile.svl</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
  </listener>
  <session-config>
    <session-timeout>20</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.jhtml</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>403</error-code>
    <location>/WEB-INF/error/403.html</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/404.html</location>
  </error-page>
  <mime-mapping>
    <extension>xls</extension>
    <mime-type>application/xls</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>doc</extension>
    <mime-type>application/doc</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>ppt</extension>
    <mime-type>application/ppt</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>xlsx</extension>
    <mime-type>application/xlsx</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>docx</extension>
    <mime-type>application/docx</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>pptx</extension>
    <mime-type>application/pptx</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>rar</extension>
    <mime-type>application/zip</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>pdf</extension>
    <mime-type>application/pdf</mime-type>
  </mime-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>fortune</web-resource-name>
      <url-pattern>/*</url-pattern>
      <http-method>PUT</http-method>
      <http-method>DELETE</http-method>
      <http-method>HEAD</http-method>
      <http-method>OPTIONS</http-method>
      <http-method>TRACE</http-method>
    </web-resource-collection>
    <auth-constraint/>
  </security-constraint>
</web-app>