/*
    @page.css
    @宏观经济分析
    @2016-12-4
*/
.page-head {
	background-color: #03162b
}

.page-body {
	background-color: #02040a
}

.corporation_left {
	position: absolute;
	top: 61px;
	left: 0;
	height: -webkit-calc(100% - 61px);
	height: calc(100% - 61px);
	width: -webkit-calc(27%);
	width: calc(27%)
}

.corporation_right {
	position: absolute;
	top: 61px;
	right: 0;
	height: -webkit-calc(100% - 61px);
	height: calc(100% - 61px);
	width: calc(27%);
	width: -webkit-calc(27%)
}

.corporation_container {
	position: absolute;
	top: 61px;
	left: 27%;
	height: -webkit-calc(100% - 61px);
	height: calc(100% - 61px);
	width: calc(46%);
	width: -webkit-calc(46%)
}

.subCorporDiv {
	position: relative;
	height: -webkit-calc(33.3% - 12px);
	height: calc(33.3% - 12px);
	margin: 10px 5px;
	width: calc(100% - 10px);
	width: -webkit-calc(100% - 10px);
	background-color: #03162b;
	border-radius: 3px
}

.subCorporDiv div {
	background-color: #03162b;
	border-radius: 3px
}

.subCorporDiv5 {
	position: relative;
	height: -webkit-calc(50% - 12px);
	height: calc(50% - 12px);
	margin: 10px 5px;
	width: calc(100% - 10px);
	width: -webkit-calc(100% - 10px);
	background-color: #03162b;
	border-radius: 3px
}

.subCorporDiv5 div {
	background-color: #03162b;
	border-radius: 3px
}

.subCorporDiv5 .panel {
	margin-bottom: 5px;
	background-color: #03162b;
	width: 100%;
	height: 100%;
	float: left;
	position: relative
}

.title {
	font-size: 14px;
	color: #00a5ff;
	padding-left: 5px;
	padding-top: 5px;
	font-weight: normal;
	font-family: "寰杞榛"
}

.titletop {
	position: absolute;
	top: 5px;
	left: 8px;
	font-size: 15px;
	
	width: 230px;
	z-index: 2;
	font-weight: normal;
	font-family: 'Microsoft YaHei'
}

.midCorporDiv {
	position: relative;
	margin: 10px 5px;
	height: -webkit-calc(50% - 12px);
	height: calc(50% - 12px);
	width: calc(100% - 10px);
	width: -webkit-calc(100% - 10px);
	background-color: #03162b;
	border-radius: 3px
}

.midCorporDive {
	position: relative;
	height: -webkit-calc(35% - 14px);
	height: calc(50% - 14px);
	margin: 10px 5px;
	width: calc(100% - 10px);
	width: -webkit-calc(100% - 10px);
	background-color: #03162b;
	border-radius: 3px
}

.midCorporDive div {
	background-color: #03162b;
	border-radius: 3px
}

.chartBarEx, .chartDieBarEx {
	position: relative;
	float: left;
	width: calc(50%);
	width: -webkit-calc(50%);
	height: -webkit-calc(100%);
	height: calc(100%)
}

#IndustrySurvialEx {
	position: relative;
	margin: 10px auto
}

#IndustrySurvialEx a {
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	font-weight: bold;
	padding: 3px 6px;
	text-decoration: none
}

#IndustrySurvialEx a:hover {
	border: 1px solid #eee;
	background: #000;
	border-radius: 5px
}

#IndustrySurvialEx a:hover span {
	display: block;
	visibility: visible
}
.chart {
	width: 100%;
	height: 80%;
	position: absolute
}

.chart-ybp1 {
	width: 50%;
	height: 80%;
	position: absolute;
	left: 0
}

.chart-ybp {
	width: 70%;
	height: 80%;
	position: absolute;
	right: 0
}

.xe-label {
	top: 32%;
	text-align: center;
	left: 0;
	width: 30%;
	position: absolute
}

.xe-label .num, .xe-label .num span, .xe-label strong {
	display: inline-block;
	font-size: 20px;
	font-weight: normal;
	color: #fff
}

.xe-label span {
	display: block;
	padding-top: 5px;
	text-transform: uppercase;
	font-size: 12px;
	color: #fff
}

.corporation_left .right_ringChartLable {
	position: absolute;
	top: 12%;
	left: 15%;
	font-size: 12px;
	text-align: center;
	color: #fff
}

.corporation_left .right_ringChartLable span {
	font-size: 30px;
	font-weight: bold;
	text-shadow: 5px 1px 10px #fff
}

.corporation_left .right_ringChartLable div {
	border-top: 1px solid #a8ffd0;
	font-size: 12px;
	line-height: 22px
}

.subCorporDiv_down_left {
	position: absolute;
	top:66%;
	left:0;
	height: -webkit-calc(33.3% - 12px);
	height: calc(33.3% - 12px);
	margin: 10px 5px;
	width: calc(50% - 10px);
	width: -webkit-calc(50% - 10px);
	background-color: #03162b;
	border-radius: 3px
}

.subCorporDiv_down_left div {
	background-color: #03162b;
	border-radius: 3px
}

.subCorporDiv_down_right {
	position: absolute;
	top:66%;
	right:0;
	height: -webkit-calc(33.3% - 12px);
	height: calc(33.3% - 12px);
	margin: 10px 5px;
	width: calc(50% - 10px);
	width: -webkit-calc(50% - 10px);
	background-color: #03162b;
	border-radius: 3px
}

.subCorporDiv_down_right div {
	background-color: #03162b;
	border-radius: 3px
}